body {
  margin: 0;
  padding: 0;
  background-image: radial-gradient(circle at 52.53% 78.89%, #fab9ff 0, #ebacf7 25%, #da9eee 50%, #c990e5 75%, #b884de 100%);}

#root {
  margin: 30px 50px;
  position: relative;
  min-height: 100vh;
  font-family: 'nunito', sans-serif;
}